.currentForecastWrapper{
    background-image: url('/current_fc_bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 65vh;
    color: #fff;
}

.weekDay{
    font-size: 2em;
    font-weight: 900;
}

.tempWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tempWrapper p {
    font-weight: 600;
    font-size: 4em;
    margin: 0;
}