.currentForecastWrapper{
    background-image: url('/current_fc_bg.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 400px;
    color: #fff;

}

.tempWrapper{
    display: flex;
    justify-content: center;

}