 .pageWrapper{
    display: flex;
    gap: 3em;
    justify-content: space-around;
    min-width: 94vw;
 }
 
 main {
    width: 60%;
 }

 .inputWrapper{
    position: relative;
    display: flex;
 }
 
 .inputWrapper input{
    padding: 15px;
    width: 11em;
    text-align: center;
    color: black;
    border-radius: 4px;
    border: none;
    background-color: #e8e8e8;
    font-weight: bold;
 }

.inputWrapper input:focus-visible{
    border: 1px solid #535bf2;
    outline: none;
}

.searchIcon{
    position: absolute;
    top: 21%;
    left: 2%;
    pointer-events: none;
    width: 20px;
}
.search{
    width: 20px;
}

::placeholder {
    color: rgb(77, 77, 77);
}

.title{
    font-size: 1.5em;
    text-align: left;
}

.cityAndButtonWrapper{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 1em;
    padding: 2em 0;
    
}

.cityAndButtonWrapper button{
    padding: 4em;
    height: 11.5em;
}